*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  box-sizing: inherit;
}

.app {
  width: 70%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 20px;
  background-color: #ccc;
  border-radius: 4px;
}

.block:not(:last-child) {
  margin-bottom: 20px;
}

.block .info {
  color: #fff;
  font-family: inherit;
  font-size: 20px;
}

.input {
  position: relative;
  width: 100%;
}

.input:not(:last-child) {
  margin-bottom: 20px;
}

.input input {
  width: 100%;
  height: 32px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 0 0 0 10px;
  caret-color: #007aff;
}

.input:hover input {
  border: 1px solid #00a8ff;
}

.input.small input {
  height: 25px;
}

.input.large input {
  height: 40px;
}

.input input:active {
  outline: #00a8ff;
}

.input.error input {
  border: 1px solid #f5222d;
  outline: none;
}

.input.disabled input {
  pointer-events: none;
  background-color: #f0f2f5;
  border: none;
}

.input .icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
}

.input .icon svg {
  width: 16px;
  height: 16px;
  fill: #979797;
}
